@import "./normalize.css";
@import "./webflow.css";
@import "./alloy-tests.webflow.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

input:focus + label,
input:valid + label,
.input.long:focus + label,
.input.long:valid + label {
    top: -10px;
    font-size: 14px;
    color: #000000;
    z-index: 3;
}
input:-internal-autofill-selected + label,
input {
    color: #000000;
}

body > .modal-task,
html body > .modal-task {
  
  z-index: 99999 !important;
  background: rgba(0,0,0,0.25) !important;
  align-items: center !important;
  justify-content: center !important;
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: all !important;
}

.task {
  position: relative;
}
.remove-task {
  display: flex !important;
  opacity: 1 !important;
  position: absolute !important;
  right: 20px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  align-items: center !important;
}
